body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 200;
    background: blanchedalmond;
}

.rcorners {
    border-radius: 500px 0px 0px 500px;
    background: blanchedalmond;
  }

/* .header {
    background: blanchedalmond;
} */

.profile-pic {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8rem;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
